<form  method="post" action="{% url 'sales:delete_account' account.id %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert">
            Atenção! Ao excluir esta conta, você também excluirá todas as transações associadas a ela!
        </div>
        <p>Você tem certeza que deseja excluir a conta do cliente <b>{{ account }}</b> ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger">Excluir conta</button>
    </div>
</form>