{% extends 'base.html' %}

{% block content %}
    <h1>Sistema de controle de Vales</h1>

    <h3 class="my-5">Vales mais antigos</h3>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Valor Atual</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for vale in oldest_sales %}
            <tr>
                <td scope="row">{{ vale.account.name }}</td>
                <td>R$ {{ vale.total_value }}</td>
                <td>{{ vale.created_at|date:'d/m/Y G:i' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}

{% endblock content %}