{% extends 'base.html' %}

{% block content %}
    <h1>Dados da Conta</h1>

    <p><b>Cadastrado por: </b>{{ account.created_by }}</p>

    <div class="row">
        <div class="col-md-12 mt-5">
            

            <p><b>Cliente: </b>{{ account.name }}</p>
            <p>
                <b>Total: </b>
                {{ account.total_value }}
            </p>
        </div>
    </div>

    <a href="{% url 'sales:new_account_sale' account.id %}" class="btn btn-success">Adicionar Vale</a>

    <h3 class="border-bottom border-gray my-3">Vales</h3>

    <div class="row">        
        {% for sale in account.sales.all %}
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ sale.description }}</h4>
                        <p class="card-text">Valor: R$ {{ sale.total_value }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'sales:view_sale' account.id sale.id %}" class="btn btn-primary">Detalhar</a>
                        <a href="{% url 'sales:update_sale' sale.id %}" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </div>    
        {% endfor %}
    </div>
     
{% endblock content %}