{% extends 'base.html' %}

{% block content %}

    <h3 class="mb-3">{{ sale.description }}</h3>

    <table class="table">
        <thead class="thead-dark">
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Valor Total</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for item in sale.items.all %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit_price }}</td>
                    <td>{{ item.total_value }}</td>
                    <td>
                        <div class="row">
                            <a href="{% url 'sales:update_item' item.id %}" class="btn btn-primary mr-2">Editar</a>
                            <a href="{% url 'sales:delete_item' item.id %}" class="btn btn-danger js-load-form">Excluir</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}