{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Caderninho{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
  </head>
  <body>    
    {% block body %}
    
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{% url 'sales:home' %}">Caderninho</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menuPages" aria-controls="menuPages"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuPages">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item {{ accounts_page }}">                        
                        <a class="nav-link" href="{% url 'sales:accounts' %}">
                            Contas
                            {% if accounts_page %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item {{ sales_page }}">
                        <a href="{% url 'sales:sales' %}" class="nav-link">
                            Vales
                            {% if sales_page %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">                                            
                    <li class="nav-item mr-3">
                        <span class="navbar-text">{{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger">
                            <i class="fa fa-door"></i>
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container mt-4">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block content %}{% endblock content %}

            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="actionsModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                </div>
              </div>
            </div>
        </div>


    {% endblock body %}  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/vendor/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/sales.js' %}"></script>

    {% block javascript %}{% endblock javascript %}
  </body>
</html>