{% extends 'base.html' %}

{% block content %}
    <h1>Clientes</h1>

    <a href="{% url 'transactions:new_client' %}" class="btn btn-primary my-5">Novo Cliente</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}            
                <tr>
                    <td scope="row"><a href="{% url 'transactions:view_client' client.id %}">{{ client.name }}</a></td>
                    <td>{{ client.phone }}</td>
                    <td>
                        <div class="row">
                            <a href="{% url 'transactions:update_client' client.id %}" class="btn btn-primary mr-2">Editar</a>
                            <form action="{% url 'transactions:delete_client' client.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}